
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Karma:wght@300&display=swap');
@import "_variables";
@import "_nav";
@import "footer";

*{
    margin: 0;
    padding: 0%;
    font-family: "kalam";
}
.row{
    margin: 0;
}
a{
    text-decoration: none;
    color: $colorrosadooscuro;
}

/*aquí quise hacer la animación que todo el contenido ,ya sea, textos , card, etc... no se vieras y aparecieran desde un lado al centro*/
.cuerpo{
    animation-name: aparecer;
    animation-duration: 4s;
    animation-iteration-count: initial;
    transform: translate(30px, 0px)  
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*la edición debería terminar acá pero no me resultó*/


@mixin propiedadPrincipal($margin, $padding) {
   padding: $padding; 
   margin: $margin;
}
.btn{
    border: 0px;
    @include propiedadPrincipal(0, 1rem);
    background-color:rgb(229, 148, 145); 
    color:white; 
    text-decoration: none;       
    text-transform: uppercase; 
    text-align: center;
    font-size: 12px;
    font-family: $tipografia; 
    border-radius: 40px;
    &:hover{
    transform: scale(1.2);
    background-color: $colorrosadooscuro;
    border-color: $colorrosadooscuro;
    }
}
.boton{
    width: 50%;
    margin: 0 auto;
}
.categoria{
    font-family:$tipografia; 
    color: $colorrosadooscuro;
    .nav a{
        color: $colorrosadooscuro;
        text-align: center
    }
}
h2, h3, h1, p{
    @extend .categoria;
}
.card{
    border-radius: 10px; 
    padding: 2rem;
    margin: 1rem;
    .card-img-top{
        width: 200px;
    }
    .card-text{
        font-size: 20px;
    }
}
.tarjeta__titulo{
    text-align: map-get($centrado-contenido, text-align );
}
.main-registro{
    overflow: hidden;
}
.datos{
    margin: 0 auto;
    @extend .categoria;
    display: flex;     
    flex-direction: column; 
    justify-content: center;
    max-width: 500px;
    padding: .5rem;
    input:focus{
        border:2px solid $colorrosadooscuro;
    }
}
.form-control:focus{
    box-shadow: none;
}
.datosCompra{
    height: 500px;
}
.circulo{
    height: 40px;
    border-radius: 50px;
    animation-name: movi;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes movi {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(100%,0px);
    }
}
/* edición de la segunda página "compra.html"*/

.promociones{
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "titulo  titulo"
                         "fotoA   infoA"
                         "usoA    usoA"
                         "fotoB   infoB"
                         "usoB    usoB"
                         "fotoC   infoC"
                         "usoC    usoC";
    justify-items: center;
    .tituloPromo{
        grid-area: titulo;
        font-size: 35px;
    }
    .infoLumi{
        grid-area: fotoA;
    }
    .contenidoLumi{
        grid-area: infoA;
    }
    .usoLumi{
        grid-area: usoA;
    }
    .infoFacial{
        grid-area: fotoB;
    }
    .contenidoFacial{
        grid-area: infoB;
    }
    .usoFacial{
        grid-area: usoB;
    }
    .infoGeles{
        grid-area: fotoC;
    }
    .contenidoGeles{
        grid-area: infoC;
    }
    .usoGeles{
        grid-area: usoC;
    }
    .usoFacial, .usoGeles, .usoLumi{
        display: flex;
        flex-direction: column;
        align-items: center;
        .videoUso{
            transition: all 2s, width 5s;
        }
        iframe
            &:hover{
                width: 650px;
                height: 300px;
            }
        h3{
            font-size: 30px;
            text-align: map-get($centrado-contenido, text-align );
        }
    }
    .contenidoLumi, .contenidoFacial, .contenidoGeles{
        align-content: map-get($centrado-contenido, align-content );
        flex-direction: map-get($centrado-contenido, flex-direction );
        text-align: map-get($centrado-contenido, text-align );
        padding: 10px;
        font-size: 20px;
        .texto{
            font-size: 30px;
        }
    }
    .infoLumi, .infoFacial, .infoGeles{
        display: flex;
        justify-content: center;
    }
    .infoLumi, .infoFacial, .infoGeles img{
        height: 80%;
        .fotoProducto{
            transition: all 5s;
            &:hover{
                transform: rotateY(360deg);
            }
        }
    }
}
.botonPago{
    display: flex;
    justify-content: center;
}
.botonRegistro, .botonSubtitulo{
    @extend .botonPago;
}
.textoRegistro{
    text-align: map-get($centrado-contenido, text-align );
    font-size: 20px;
}

.table{
    font-family: $tipografia; 
    color: $colorrosadooscuro;
    font-size: 24px;
}

/*ediciones para teléfonos */
@media ( max-width:480px){
    .menu{
        height: 100%;
        flex-direction: column;
    }
    .listaMenu{
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: map-get($centrado-contenido, text-align );
        align-items: flex-start;
        li {
            width: 100%;
        }
    }
    header{
        font-size: 15px;
        width: 100%;
    }
    ul{
        list-style: none;
        li{
            margin: 10px;
            display: inline ;
            position: relative;
            align-content: map-get($centrado-contenido, align-content );
        }
    }
    .card{
        border-radius: 5px; 
        padding: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        width: 100%; 
        .card-img-top{
            width: 80%; 
        }
        p{
            font-size: 12px ;
        }  
        .card-parrafo{
        height: 600px; 
        }
    }
    footer{
        padding: 10px;
        img{
            @include propiedadPrincipal(5px, 0);
            display:inline-block;
        }
        .redes{
            grid-area: redes;
            .subtitulo{
                text-align:map-get($centrado-contenido, text-align );
                margin: 10px;
            }
        }
    }
    .pie{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "contacto"
                            "redes";
    }
    .promociones{
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10,auto);
        grid-template-areas: "titulo"
                             "fotoA "  
                             "infoA"
                             "usoA "   
                             "fotoB "  
                             "infoB"
                             "usoB "   
                             "fotoC "  
                             "infoC"
                             "usoC ";
        justify-items: center;
    
        .tituloPromo{
            font-size: 15px;
        }
        .contenidoLumi, .contenidoFacial, .contenidoGeles{
            width: 70%;
            margin: 10px;
            .texto{
                font-size: 1rem;
            }
        }
        .infoLumi, .infoFacial, .infoGeles{
            margin: 10px;
            display: flex;
            justify-content: center;
        }
        h3{
            font-size: 30px;
            text-align: map-get($centrado-contenido, text-align );
        }
        .video{
            width: 100%; 
        }
        .usoLumi h3, .usoFacial h3, .usoGeles h3{
            font-size: 16px;
            align-items: center;
        }
    }
    .datos{
        max-width: 100%;
    }
    .tablaPago{
        font-size: 20px;
    }
    .datosInscripcion{
        height: 800px;
    }
}
@media (max-width:780px){
    .card-text{
        font-size: 18px;
    }
    .table{
        font-size: 18px;
        margin: 30px;
        width: 400px;
    }
}

