@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Karma:wght@300&display=swap");
.navbar {
  background-color: white;
  font-family: "kalam", sans-serif;
  color: #B34D54;
}

.navbar .brand {
  width: 90px;
}

.navbar .form-control {
  height: 40px;
  margin-top: 10px;
}

.navbar .nav-link {
  text-decoration: none;
  color: #B34D54;
}

.navbar .button {
  padding: 0 1rem;
}

footer {
  font-family: "kalam", sans-serif;
  font-weight: 700;
  color: #B34D54;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer footer img {
  width: 40px;
  padding: 5px;
  margin: 5px;
}

.pie {
  display: grid;
  background-color: white;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: auto auto;
  grid-template-areas: "contacto . redes" "contacto . redes";
}

.pie .contacto {
  grid-area: contacto;
  color: #B34D54;
  font-family: "kalam", sans-serif;
}

.pie .redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie .redes .subtitulo {
  text-align: center;
}

* {
  margin: 0;
  padding: 0%;
  font-family: "kalam";
}

.row {
  margin: 0;
}

a {
  text-decoration: none;
  color: #B34D54;
}

/*aquí quise hacer la animación que todo el contenido ,ya sea, textos , card, etc... no se vieras y aparecieran desde un lado al centro*/
.cuerpo {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: initial;
  transform: translate(30px, 0px);
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*la edición debería terminar acá pero no me resultó*/
.btn {
  border: 0px;
  padding: 1rem;
  margin: 0;
  background-color: #e59491;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: "kalam", sans-serif;
  border-radius: 40px;
}

.btn:hover {
  transform: scale(1.2);
  background-color: #B34D54;
  border-color: #B34D54;
}

.boton {
  width: 50%;
  margin: 0 auto;
}

.categoria, h2, h3, h1, p, .datos {
  font-family: "kalam", sans-serif;
  color: #B34D54;
}

.categoria .nav a, h2 .nav a, h3 .nav a, h1 .nav a, p .nav a, .datos .nav a {
  color: #B34D54;
  text-align: center;
}

.card {
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
}

.card .card-img-top {
  width: 200px;
}

.card .card-text {
  font-size: 20px;
}

.tarjeta__titulo {
  text-align: center;
}

.main-registro {
  overflow: hidden;
}

.datos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: .5rem;
}

.datos input:focus {
  border: 2px solid #B34D54;
}

.form-control:focus {
  box-shadow: none;
}

.datosCompra {
  height: 500px;
}

.circulo {
  height: 40px;
  border-radius: 50px;
  animation-name: movi;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes movi {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(100%, 0px);
  }
}

/* edición de la segunda página "compra.html"*/
.promociones {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "titulo  titulo" "fotoA   infoA" "usoA    usoA" "fotoB   infoB" "usoB    usoB" "fotoC   infoC" "usoC    usoC";
  justify-items: center;
}

.promociones .tituloPromo {
  grid-area: titulo;
  font-size: 35px;
}

.promociones .infoLumi {
  grid-area: fotoA;
}

.promociones .contenidoLumi {
  grid-area: infoA;
}

.promociones .usoLumi {
  grid-area: usoA;
}

.promociones .infoFacial {
  grid-area: fotoB;
}

.promociones .contenidoFacial {
  grid-area: infoB;
}

.promociones .usoFacial {
  grid-area: usoB;
}

.promociones .infoGeles {
  grid-area: fotoC;
}

.promociones .contenidoGeles {
  grid-area: infoC;
}

.promociones .usoGeles {
  grid-area: usoC;
}

.promociones .usoFacial, .promociones .usoGeles, .promociones .usoLumi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promociones .usoFacial .videoUso, .promociones .usoGeles .videoUso, .promociones .usoLumi .videoUso {
  transition: all 2s, width 5s;
}

iframe .promociones .usoFacial:hover, iframe .promociones .usoGeles:hover, iframe .promociones .usoLumi:hover {
  width: 650px;
  height: 300px;
}

.promociones .usoFacial h3, .promociones .usoGeles h3, .promociones .usoLumi h3 {
  font-size: 30px;
  text-align: center;
}

.promociones .contenidoLumi, .promociones .contenidoFacial, .promociones .contenidoGeles {
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.promociones .contenidoLumi .texto, .promociones .contenidoFacial .texto, .promociones .contenidoGeles .texto {
  font-size: 30px;
}

.promociones .infoLumi, .promociones .infoFacial, .promociones .infoGeles {
  display: flex;
  justify-content: center;
}

.promociones .infoLumi, .promociones .infoFacial, .promociones .infoGeles img {
  height: 80%;
}

.promociones .infoLumi .fotoProducto, .promociones .infoFacial .fotoProducto, .promociones .infoGeles img .fotoProducto {
  transition: all 5s;
}

.promociones .infoLumi .fotoProducto:hover, .promociones .infoFacial .fotoProducto:hover, .promociones .infoGeles img .fotoProducto:hover {
  transform: rotateY(360deg);
}

.botonPago, .botonRegistro, .botonSubtitulo {
  display: flex;
  justify-content: center;
}

.textoRegistro {
  text-align: center;
  font-size: 20px;
}

.table {
  font-family: "kalam", sans-serif;
  color: #B34D54;
  font-size: 24px;
}

/*ediciones para teléfonos */
@media (max-width: 480px) {
  .menu {
    height: 100%;
    flex-direction: column;
  }
  .listaMenu {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
  }
  .listaMenu li {
    width: 100%;
  }
  header {
    font-size: 15px;
    width: 100%;
  }
  ul {
    list-style: none;
  }
  ul li {
    margin: 10px;
    display: inline;
    position: relative;
    align-content: center;
  }
  .card {
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card .card-img-top {
    width: 80%;
  }
  .card p {
    font-size: 12px;
  }
  .card .card-parrafo {
    height: 600px;
  }
  footer {
    padding: 10px;
  }
  footer img {
    padding: 0;
    margin: 5px;
    display: inline-block;
  }
  footer .redes {
    grid-area: redes;
  }
  footer .redes .subtitulo {
    text-align: center;
    margin: 10px;
  }
  .pie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "contacto" "redes";
  }
  .promociones {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "titulo" "fotoA "   "infoA" "usoA "    "fotoB "   "infoB" "usoB "    "fotoC "   "infoC" "usoC ";
    justify-items: center;
  }
  .promociones .tituloPromo {
    font-size: 15px;
  }
  .promociones .contenidoLumi, .promociones .contenidoFacial, .promociones .contenidoGeles {
    width: 70%;
    margin: 10px;
  }
  .promociones .contenidoLumi .texto, .promociones .contenidoFacial .texto, .promociones .contenidoGeles .texto {
    font-size: 1rem;
  }
  .promociones .infoLumi, .promociones .infoFacial, .promociones .infoGeles {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  .promociones h3 {
    font-size: 30px;
    text-align: center;
  }
  .promociones .video {
    width: 100%;
  }
  .promociones .usoLumi h3, .promociones .usoFacial h3, .promociones .usoGeles h3 {
    font-size: 16px;
    align-items: center;
  }
  .datos {
    max-width: 100%;
  }
  .tablaPago {
    font-size: 20px;
  }
  .datosInscripcion {
    height: 800px;
  }
}

@media (max-width: 780px) {
  .card-text {
    font-size: 18px;
  }
  .table {
    font-size: 18px;
    margin: 30px;
    width: 400px;
  }
}
/*# sourceMappingURL=estilos.css.map */