@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Karma:wght@300&display=swap');

*{
    margin: 0;
    padding: 0%;
    font-family: "kalam";
}
a{
    text-decoration: none;
    color: #B34D54
}
.navbar{
    height: 80px;
    background-color: white;
    font-family: "kalam", sans-serif; 
    color: #B34D54;
}
.navbar-brand{
    width: 90px;

}
.form-control{
    height: 40px;
    margin-top: 10px;
}
.btn{
    border: 0px;
    padding: 10px; 
    background-color:rgb(229, 148, 145); 
    color:white; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: "kalam", sans-serif; 
    border-radius: 50px;
    margin: 30px;
}
.btn:hover{
    transform: scale(1.2);
}
.categoria, h2, h3, h1, p{
    font-family: "kalam", sans-serif; 
    color: #B34D54;
}
.nav-link{
    text-decoration: none;
    color: #B34D54
}
.card{
    background-color: white;
    border-radius: 10px; 
    padding: 50px;
    margin: 30px;
    border-style: outset;
    display: inline-block;
}
.card-img-top{
    width: 100%; 
}
.tarjeta__titulo{
    text-align: center;
}
.card-text{
    font-size: 20px;
}

/*edicion del footer*/
footer{
    font-family: "kalam";
    font-weight: 700;
    color: #B34D54;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
}
footer img{
    width: 40px;
    padding: 5px;
    margin: 5px;
    
}
.pie{
    display: grid;
    background-color: white;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 35px 35px ;
    grid-template-areas: "contacto . redes"
                         "contacto . redes";
}
.redes{
    grid-area: redes;
}
.subtitulo{
    text-align: center;
}
.contacto{
    grid-area: contacto;
    color: #D05961;
    font-family: "kalam";
    
}

.datos{
    margin: 100px 500px;
    font-family: "kalam";
    color:#B34D54;
    display: flex;     
    flex-direction: column; 
    justify-content: center;
    height: 400px;
}
.datos input:focus{
    width: 450px;
}
.circulo{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    animation-name: movi;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes movi {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(300px,0px);
    }
}
/* edición de la segunda página "compra.html"*/

.promociones{
    display: grid;
    grid-template-columns: 30% 70% ;
    grid-template-rows: 50px 400px 400px 400px 400px 400px 400px ;
    grid-template-areas: "titulo  titulo"
                         "fotoA   infoA"
                         "usoA    usoA"
                         "fotoB   infoB"
                         "usoB    usoB"
                         "fotoC   infoC"
                         "usoC    usoC";
    justify-items: center;
}
.tituloPromo{
    grid-area: titulo;
    font-size: 35px;
}
.infoLumi{
    grid-area: fotoA;
}
.contenidoLumi{
    grid-area: infoA;
}
.usoLumi{
    grid-area: usoA;
}
.infoFacial{
    grid-area: fotoB;
}
.contenidoFacial{
    grid-area: infoB;
}
.usoFacial{
    grid-area: usoB;
}
.infoGeles{
    grid-area: fotoC;
}
.contenidoGeles{
    grid-area: infoC;
}
.usoGeles{
    grid-area: usoC;
}
.usoFacial, .usoGeles, .usoLumi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenidoLumi, .contenidoFacial, .contenidoGeles{
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
.texto{
    font-size: 30px;
}
.infoLumi, .infoFacial, .infoGeles{
    display: flex;
    justify-content: center;
}
.infoLumi, .infoFacial, .infoGeles img{
    height: 80%;
}
.promociones h3{
    font-size: 30px;
    text-align: center;
}
.video{
    margin-top: 50px;
}
.fotoProducto{
    transition: all 5s;
}
.fotoProducto:hover{
    transform: rotateY(360deg);
}
.videoUso{
    transition: all height 2s, width 5s;
}
.videoUso:hover{
    width: 800px;
    height: 350px;
}

.tabla{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 200px  40px;
    grid-template-areas: "tabla "
                         "boton";
    justify-items: center;
}
.tablaPago{
    grid-area: tabla;
    font-family: "kalam";
    color: #D05961;
    font-size: 30px;
}
.botonTabla{
    grid-area: boton;
    display: flex;
    justify-content: center;
}
.botonPago, .botonRegistro, .botonSubtitulo{
    display: flex;
    justify-content: center;
}
.textoRegistro{
    text-align: center;
    font-size: 20px;
}
.margenes{
    padding-right: 20px
}
.cantidad{
    text-align: center;
}


/*ediciones para teléfonos */
@media ( max-width:480px){
    .menu{
        height: 100%;
        flex-direction: column;
    }
    .listaMenu{
        width: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
    }
    .listaMenu li {
        width: 100%;
    }
    header{
        height:200px;
        font-size: 15px;
        width: 100%;
    }
    ul{
        list-style: none;
    }
    ul li{
        margin: 10px;
        display: inline ;
        position: relative;
        align-content: center;
        font-size: 10px;
    }
    .card{
        border-radius: 5px; 
        padding: 25px;
        margin: 10px;
        width: 100%;
        height: 700px;
    }
    .card-img-top{
        width: 80%; 
     
    }
    p{
        font-size: 12px ;
    }
    footer{
        padding: 10px;
    }
    footer img{
        padding: 5px;
        margin: 5px;
        display:inline-block;
    }
    .pie{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "contacto"
                             "redes";
    }
    .redes{
        grid-area: redes;
    }
    .subtitulo{
        text-align: center;
        margin: 10px;
    }
    
/* ediciones adicionales página "compra.html" */

    .promociones{
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10,auto);
        grid-template-areas: "titulo"
                             "fotoA "  
                             "infoA"
                             "usoA "   
                             "fotoB "  
                             "infoB"
                             "usoB "   
                             "fotoC "  
                             "infoC"
                             "usoC ";
        justify-items: center;
    }
    .tituloPromo{
        font-size: 15px;
    }
    .contenidoLumi, .contenidoFacial, .contenidoGeles{
        width: 70%;
        margin: 10px;
    }
    .texto{
        font-size: 1rem;
    }
    .infoLumi, .infoFacial, .infoGeles{
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .promociones h3{
        font-size: 30px;
        text-align: center;
    }
    .video{
        width: 100%; 
    }
    .usoLumi h3, .usoFacial h3, .usoGeles h3{
        font-size: 16px;
        align-items: center;
    }
    /*ediciones de páginas inscripción, registro y confirmación */
    .datos{
        margin: 30px;
    }
    .datos input:focus{
        width: 400px;
    }
    .tablaPago{
        font-size: 20px;
    }
    .datosInscripcion{
        height: 800px;
    }
}
